{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "14.19"
                },
                "modules": "cjs"
            }
        ]
    ],
}